.editRemarkForm
  p 备注名称
  input(type="text", id="remarkinput", class="remarkinput")
  .btnCenterGroup
    button(class="btn btn-success", data-popModalBut="ok") 确定
    button(class="btn btn-default", data-popModalBut="cancel") 取消
