.editGroupNameForm
  p 标签名称
  input(type="text", id="gNameInput", class="gNameInput")
  .btnCenterGroup
    button(class="btn btn-success", data-popModalBut="ok") 确定
    button(class="btn btn-default", data-popModalBut="cancel") 取消
