doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.scss")
  body
    .loginBox
      .formBox
        h2 修改密码
        form
          .inputLabel
            span.inputTip 新密码:
            input(name="password", type="password")
          .inputLabel
            span.inputTip 再次输入密码:
            input(name="password2", type="password")
          .btnLabel
            button(type="button", class="logBtn") 提 交


