@import "../common/glob";

.pageMainHead{
  border-bottom: 1px solid #e7e7eb;
  .pageMainHeadTip{
    font-size: 16px;
    margin: 20px 0 0 0;
    padding: 10px 40px;
  }

}
.pageMainMiddle{
  padding:30px;
}